.App {
  //text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.post {
  border-bottom: 1px solid;
  padding: 5px;
}

.titleBox {
  padding-bottom: 5px;
  position: relative;
}

.title {
  position: absolute;
  top: 45%;
}

span {
  padding-right: 10px;
}

.thumbnail {
  width: 150px;
  height: 100px;
  min-height: 75px;
  margin-right: 5px;
  border: 1px solid;
}