span {
  padding-right: 10px;
}

.searchBar {
  margin: 2px;
  text-align: center;
}

.post {
  border-bottom: 1px solid;
  padding: 5px;
}

.titleBox {
  padding-bottom: 5px;
  position: relative;
}

.title {
  position: absolute;
  top: 45%;
}

.thumbnail {
  width: 150px;
  height: 100px;
  min-height: 75px;
  margin-right: 5px;
  border: 1px solid;
}